name: Update AuthZ tuples

on:
  workflow_dispatch:
    inputs:
      domain:
        type: string
        required: true
        default: aws.us.pangea.cloud
        description: Pangea API domain.
      wipe:
        type: boolean
        required: true
        default: false
        description: Whether or not to wipe all existing tuples before creating new ones.

jobs:
  authz-tuples:
    name: Update AuthZ tuples
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24.11.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Install dependencies
        run: yarn install --immutable

      - name: Update AuthZ tuples
        run: yarn create-authz-tuples --wipe ${{ inputs.wipe }}
        env:
          PANGEA_SERVICE_TOKEN: ${{ secrets.PANGEA_SERVICE_TOKEN }}
          GOOGLE_DRIVE_CREDENTIALS: ${{ secrets.GOOGLE_DRIVE_CREDENTIALS }}
          GOOGLE_DRIVE_FOLDER_ID: ${{ secrets.GOOGLE_DRIVE_FOLDER_ID }}
          NEXT_PUBLIC_PANGEA_BASE_DOMAIN: ${{ inputs.domain }}
