name: CI

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

  merge_group:

  workflow_dispatch:

permissions:
  contents: read

env:
  AWS_DEFAULT_REGION: placeholder
  GOOGLE_DRIVE_CREDENTIALS: |
    {"type":"service_account","project_id":"placeholder","private_key_id":"placeholder","private_key":"placeholder","client_email":"placeholder","client_id":"placeholder","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"placeholder","universe_domain":"googleapis.com"}
  NEXT_PUBLIC_PANGEA_BASE_DOMAIN: placeholder
  NEXT_PUBLIC_PANGEA_CLIENT_TOKEN: placeholder
  NEXT_TELEMETRY_DISABLED: 1
  PANGEA_SERVICE_TOKEN: placeholder

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24.11.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Next.js cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn run build
